{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-user" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-multi-admin" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-username">{{ entry_username }}</label>
            <div class="col-sm-10">
             <select name="user_id" id="input-user" class="form-control">
                {% for user in users %}
                {% if user.user_id == user_id %}
                <option value="{{ user.user_id }}" selected="selected">{{ user.username }}</option>
                {% else %}
                <option value="{{ user.user_id }}">{{ user.username }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-role">{{ entry_role_name }}</label>
            <div class="col-sm-10">
              <select name="user_group_id" id="input-role" class="form-control">
                {% for user_group in user_groups %}
                {% if user_group.user_group_id == user_group_id %}
                <option value="{{ user_group.user_group_id }}" selected="selected">{{ user_group.name }}</option>
                {% else %}
                <option value="{{ user_group.user_group_id }}">{{ user_group.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-store">{{ entry_store_name }}</label>
            <div class="col-sm-10">
            <select name="store_id" id="input-store" class="form-control">
                {% for store in stores %}
                {% if store.store_id == store_id %}
                <option value="{{ store.store_id }}" selected="selected">{{ store.name }}</option>
                {% else %}
                <option value="{{ store.store_id }}">{{ store.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 