
<!-- merging the 'header' and 'column left' part with this template -->
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <!-- Form submit button -->
        <button type="submit" form="form-multi-admin-module" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <!-- Back button -->
        <a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <!-- Heading is mentioned here -->
      <h1>{{ heading_title }}</h1>
      <!-- Breadcrumbs are listed here -->
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <!-- if it contains a warning then it will be visible as an alert -->
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <!-- form starts here -->
        <form action="{{action}}" method="post" enctype="multipart/form-data" id="form-multi-admin-module" class="form-horizontal">
          <div class="form-group">
            <!-- Entry label is mentioned here -->
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <!-- The name of the form inputs must start with the controller file name followed by a underscore
              like in this case "first_module_" after that status is added -->
              <select name="multi_admin_status" id="input-status" class="form-control">
                {% if multi_admin_status %}
                <option value="1" selected="selected"> {{ text_enabled }} </option>
                <option value="0"> {{ text_disabled }} </option>
                {% else %}
                <option value="1"> {{ text_enabled }}</option>
                <option value="0" selected="selected"> {{ text_disabled }} </option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- merges the footer with the template -->
{{ footer }}